#leftsection
    #designerslogo
        img(src='images/Designer logo.svg', alt='')
    |       
    ul
        li
            span
                img(src='images/home icon.svg', alt='')
            |  Home
        |         
        li
            span
                img(src='images/profile icon.svg', alt='')
            | Profile
        |         
        li
            span
                img(src='images/grade icon.svg', alt='')
            | Results
        |         
        li
            span
                img(src='images/courses icon.svg', alt='')
            | Courses
        |         
        li
            span
                img(src='images/attendance icon.svg', alt='')
            | Attendance