#rightsection
    #innerrightdiv
        #profilepic
            img(src='images/avatar.svg', alt='')
        |                 
        h2#fullname #{studentList.FullName}
        |                 
        h4#batchname #{studentList.CourseSection}
        |                 
        #calendardiv
            #month February
            |                     
            #calendarheader
                div Mon
                |                         
                div Tue
                |                         
                div Wed
                |                         
                div Thu
                |                         
                div Fri
                |                         
                div Sat
                |                         
                div Sun
            |                     
            #calendardays
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day
                |                         
                .day