@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body {
  background: #ededed;
}
#wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 4fr 1.2fr;
}
#leftsection {
  padding: 40px 0 0 0;
  grid-column-start: 1;
  max-width: 100%;
}
#middlesection {
  background: #ffffff;
  grid-column-start: 2;
  border-radius: 50px 0 0 50px;
  padding: 3% 5%;
  height: 100%;
  overflow: hidden;
}
#rightsection {
  grid-column-start: 3;
}
#designerslogo {
  width: 90%;
}
#designerslogo > img {
  width: 100%;
}
ul {
  margin-top: 10%;
  width: 80%;
}
li {
  display: flex;
  align-items: center;
  padding-left: 20%;
  width: 100%;
  height: 30px;
  background-color: #afafaf82;
  margin-top: 5%;
  list-style-type: none;
  font-size: 120%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
li:nth-child(1) {
  background-color: #ffd600;
}
li:hover {
  background-color: #ffd600;
}
li > span {
  margin-right: 10%;
  margin-top: 3%;
}
h1:nth-child(1) {
  font-size: 1.7em;
  text-align: center;
  font-weight: 600;
  margin: 0 0 1% 0;
}
h2 {
  font-size: 1.3em;
  font-weight: 600;
}
h4 {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 1% 0;
}
h1 {
  font-size: 1.6em;
  font-weight: 500;
  margin: 0 0 1% 0;
}
#coursessection,
#alertssection {
  display: flex;
  width: 100%;
  height: 30%;
  overflow-x: scroll;
  margin: 0 0 2% 0;
}
#alertssection {
  margin: 0 0 0 0;
  height: 35%;
}
.course {
  width: 31%;
  margin: 0 1%;
  background-color: #e8f5f9;
}
.coursename {
  font-size: 0.9em;
  padding: 3% 5%;
}
.course,
.alert {
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  cursor: pointer;
}
.alert {
  width: 48%;
  background-color: #c4c4c4;
  margin: 0 1%;
}
#coursessection::-webkit-scrollbar,
#alertssection::-webkit-scrollbar {
  display: none;
}
