#tablediv
  h3 Course Name
  |                 
  table
    caption
      | USMAN AFZAL
    |                     
    thead
      tr
        th Week
        |                             
        th Status
    |                     
    tbody
      tr
        td.subject 1
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 2
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 3
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 4
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 5
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 6
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 7
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 8
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 9
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 10
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 11
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 12
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 13
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 14
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 15
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
      |                         
      tr
        td.subject 16
        |                             
        td.status
          input(type='checkbox', name='facultycheckbox', disabled='')
  |                 
  div
    button.edit(value='Edit', onclick='update()') Edit
    |                     
    button.update(value='Update', onclick='edit()') Update
