h1 Department of Computer Software Engineering, MCS
|         
h2 Attendance Chart
|         
#chartdiv
  div
    canvas#myChart
|         
h2 Course-wise Attendance
|         
#coursessection.coursewiseattendance
  .course
    .courseimage
    |             
    .coursename
      hr
      |               
      span
        | 5th Sem (Fall 2021) 
        br
        |                 SE-210 Software Design and Architecture (BESE-25B)
  |           
  .course
    .courseimage
    |             
    .coursename
      hr
      |               5th Sem (Fall 2021) 
      br
      | CC-344 Web Engineering (BESE-25B)
  |           
  .course
    .courseimage
    |             
    .coursename
      hr
      |               5th Sem (Fall 2021) 
      br
      | CS-330 Operating System (BESE-25B)
  |           
  .course
    .courseimage
    |             
    .coursename
      hr
      |               
      span
        | 5th Sem (Fall 2021) 
        br
        |                 SE-210 Software Design and Architecture (BESE-25B)
  |           
  .course
    .courseimage
    |             
    .coursename
      hr
      |               
      span
        | 5th Sem (Fall 2021) 
        br
        |                 SE-210 Software Design and Architecture (BESE-25B)
  |           
  .course
    .courseimage
    |             
    .coursename
      hr
      |               
      span
        | 5th Sem (Fall 2021) 
        br
        |                 SE-210 Software Design and Architecture (BESE-25B)
script(src='js/attendance.js')
script(src='js/response.js')