h1 Department of Computer Software Engineering, MCS
|         
#tablediv
  h1#resulttable Results
  |           
  table
    thead
      tr
        th.assessment(scope='col') Assessment
        |                 
        th.max-marks(scope='col') Max Marks
        |                 
        th.obtained-marks(scope='col') Obtained Marks
        |                 
        th.percentage(scope='col') Percentage
    |             
    tbody
      tr
        td.assessment Assignment-1
        |                 
        td.max-marks 10
        |                 
        td.obtained-marks 9
        |                 
        td.percentage 90%
      |               
      tr
        td.assessment(scope='row') Assignment-2
        |                 
        td.max-marks 10
        |                 
        td.obtained-marks 8
        |                 
        td.percentage 80%
      |               
      tr
        td.assessment(scope='row') Assignment-3
        |                 
        td.max-marks 10
        |                 
        td.obtained-marks 5
        |                 
        td.percentage 50%
      |               
      tr
        td.assessment(scope='row') Quiz-1
        |                 
        td.max-marks 10
        |                 
        td.obtained-marks 10
        |                 
        td.percentage 100%
      |               
      tr
        td.assessment(scope='row') Quiz-2
        |                 
        td.max-marks 10
        |                 
        td.obtained-marks 7
        |                 
        td.percentage 70%
      |               
      tr
        td.assessment(scope='row') Quiz-3
        |                 
        td.max-marks 10
        |                 
        td.obtained-marks 8
        |                 
        td.percentage 80%
      |               
      tr
        td.assessment(scope='row') OHT-1
        |                 
        td.max-marks 15
        |                 
        td.obtained-marks 8
        |                 
        td.percentage 56%
      |               
      tr
        td.assessment(scope='row') OHT-2
        |                 
        td.max-marks 15
        |                 
        td.obtained-marks 10
        |                 
        td.percentage 66.66%
      |               
      tr
        td.assessment(scope='row') Final
        |                 
        td.max-marks 50
        |                 
        td.obtained-marks 40
        |                 
        td.percentage 80%