h1 Department of Computer Software Engineering, MCS
|         
#tablediv
  h3 Course Name
  |           
  table
    caption
      | Attendance Table
    |             
    thead
      tr
        th S.No
        |                 
        th Date
        |                 
        th Status
    |             
    tbody
      tr
        td.s.no 1
        |                 
        td.date
          input(type='date', value='2018-07-22', disabled='')
        |                 
        td.status
          input(type='checkbox')
      |               
      tr
        td.s.no 2
        |                 
        td.date
          input(type='date', value='2018-07-29', disabled='')
        |                 
        td.status
          input(type='checkbox')
      |               
      tr
        td.s.no 3
        |                 
        td.date
          input(type='date', value='2018-08-05', disabled='')
        |                 
        td.status
          input(type='checkbox')
      |               
      tr
        td.s.no 4
        |                 
        td.date
          input(type='date', value='2018-08-12', disabled='')
        |                 
        td.status
          input(type='checkbox')
      tr
        td.s.no 4
        |                 
        td.date
          input(type='date', value='2018-08-19', disabled='')
        |                 
        td.status
          input(type='checkbox')
      tr
        td.s.no 4
        |                 
        td.date
          input(type='date', value='2018-08-26', disabled='')
        |                 
        td.status
          input(type='checkbox')
      tr
        td.s.no 4
        |                 
        td.date
          input(type='date', value='2018-09-4', disabled='')
        |                 
        td.status
          input(type='checkbox')
      tr
        td.s.no 4
        |                 
        td.date
          input(type='date', value='2018-09-11', disabled='')
        |                 
        td.status
          input(type='checkbox')
      tr
        td.s.no 4
        |                 
        td.date
          input(type='date', value='2018-09-19', disabled='')
        |                 
        td.status
          input(type='checkbox')
script(src='js/response.js')