doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |   
    title Student panel
    |   
    link(rel='stylesheet', href='styles/login.css')
    |   
    link(rel='icon', href='images/D logo.svg')
  body
    #wrapper
      include ../partials/header.jade      
      #loginpanel
        span.name_of_ind Student Login
        |       
        form(action='/student_login', method='post')
          .input.username
            img#usernamelogo(src='/images/usrnamelogo.svg', alt='')
            |           
            input#username(type='text', name='studentName', placeholder='Username')
          |         
          .input
            img#passwordlogo(src='/images/passwordlogo.svg', alt='')
            |           
            input#password(type='password', name='studentPassword', placeholder='Password')
          |         
          .input.submit
            input#submitlogin(type='submit', name='', value='Login')
          |         
          a(href='') Forget Password?
      |     
      #designerslogo
        img(src='/images/Designer logo.svg', alt='')
        |       
        h4 &copy 2022 All Rights Reserved
