h1 Department of Computer Software Engineering, MCS
|         
h1#resultheader Results
|         
#resultsection
  a(href="results/details/?courseId=SDA")
    .result
      .resultimage             
      .resultname
        hr
        |               
        span
          |5th Sem (Fall 2021) 
          br
          |SE-210 Software Design and Architecture (BESE-25B)

  a(href="results/details/?courseId=WebEng")         
    .result
      .resultimage            
      .resultname
        hr
        |               
        span
        |5th Sem (Fall 2021) 
        br
        |CC-344 Web Engineering (BESE-25B)  

  a(href="results/details/?courseId=OS")          
    .result
      .resultimage             
      .resultname
        hr
        |               
        span
        |5th Sem (Fall 2021) 
        br
        |CS-330 Operating System (BESE-25B)

  a(href="results/details/?courseId=PE")         
    .result
      .resultimage            
      .resultname
        hr
        |               
        span
          |5th Sem (Fall 2021) 
          br
          |SE-210 Professional Ethics (BESE-25B)

  a(href="results/details/?courseId=TW")        
    .result
      .resultimage            
      .resultname
        hr
        |               
        span
          |5th Sem (Fall 2021) 
          br
          |SE-210 Technical Writing (BESE-25B)
script(src='js/response.js')